registry=https://yoguisan.pkgs.visualstudio.com/_packaging/yoguisan/npm/registry/
# Run this the first time (if on Windows): vsts-npm-auth -config .npmrc

; begin auth token
//yoguisan.pkgs.visualstudio.com/_packaging/yoguisan/npm/registry/:username=yoguisan
//yoguisan.pkgs.visualstudio.com/_packaging/yoguisan/npm/registry/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//yoguisan.pkgs.visualstudio.com/_packaging/yoguisan/npm/registry/:email=npm requires email to be set but doesn't use the value
//yoguisan.pkgs.visualstudio.com/_packaging/yoguisan/npm/:username=yoguisan
//yoguisan.pkgs.visualstudio.com/_packaging/yoguisan/npm/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//yoguisan.pkgs.visualstudio.com/_packaging/yoguisan/npm/:email=npm requires email to be set but doesn't use the value
; end auth token