@import '../../assets/styles/breakpoints.scss';

:host {
  display: block;
  padding: 1rem;

  &[container="true"] {
    display: grid;
    width: 100%;
  }

  &.narrow, &[narrow="true"] {
    padding-left: 0;
    padding-right: 0;
  }

  &.condensed, &[condensed="true"] {
    padding-bottom: 0;
    padding-top: 0;
  }
}
