@import '../../assets/styles/breakpoints.scss';

:host {
  display: block;
  padding: 1rem;

  &[container="true"] {
    display: grid;
    width: 100%;
  }

  &.narrow {
    padding-left: 0;
    padding-right: 0;
  }

  &.condensed {
    padding-bottom: 0;
    padding-top: 0;
  }
}
