@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fonts.scss';

:host {
  button {
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    padding: .4rem .7rem;
    font-family: "Fira Sans", Montserrat, Nunito, Roboto, sans-serif;
    font-size: .9rem;

    &:hover {
      opacity: .7;
    }

    &.variant-text {
      background: none;
      border: none;

      &:hover {
        background: $lightestGrayHover;
      }
    }

    &.variant-outlined {
      background: none;
      border: solid 2px;

      &:hover {
        background: black;
        color: white;
      }
    }

    &.variant-black {
      background: black;
      color: white;

      &:hover {
        background: none;
        border: solid 2px;
      }
    }

    &.variant-primary {
      background: $primary;
      color: white;
    }

    &.variant-secondary {
      background: $secondary;
      color: white;
    }

    &.variant-success {
      background: $success;
      color: white;
    }

    &.variant-info {
      background: $info;
    }

    &.variant-warning {
      background: $warning;
    }

    &.variant-error {
      background: $error;
      color: white;
    }

    &.variant-fatal {
      background: $fatal;
      color: white;
    }
  }
}
