@use '../../assets/styles/colors.scss' as Colors;
@import '../../assets/styles/fonts.scss';

:host {
  height: fit-content;

  button {
    align-items: center;
    background: none;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    display: flex;
    font-family: "Fira Sans", Montserrat, Nunito, Roboto, sans-serif;
    font-size: .9rem;
    gap: .7rem;
    padding: .4rem .7rem;

    > * {
      margin: auto;

      &[slot="icon"] {
        margin-right: .4rem;
      }
    }

    &:hover {
      opacity: .7;
    }

    &.variant-text {
      background: none;
      border: none;

      &:hover {
        background: Colors.$lightestGrayHover;
      }
    }

    &.variant-outlined {
      background: none;
      border: solid 2px;

      &:hover {
        background: black;
        color: white;
      }
    }

    &.variant-black {
      background: black;
      color: white;

      &:hover {
        background: none;
        border: solid 2px;
      }
    }

    &.variant-primary {
      background: Colors.$primary;
      color: white;
    }

    &.variant-secondary {
      background: Colors.$secondary;
      color: white;
    }

    &.variant-success {
      background: Colors.$success;
      color: white;
    }

    &.variant-info {
      background: Colors.$info;
    }

    &.variant-warning {
      background: Colors.$warning;
    }

    &.variant-error {
      background: Colors.$error;
      color: white;
    }

    &.variant-fatal {
      background: Colors.$fatal;
      color: white;
    }

    &.fullWidth {
      width: 100%;
    }
  }
}
